<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @excercise_preset.name %>
</p>

<%= link_to 'Edit', edit_excercise_preset_path(@excercise_preset) %> |
<%= link_to 'Back', excercise_presets_path %>
