<% if excercise.is_a? Pause %>
    <%= select_tag 'excercise_type', options_for_select(@excercise_presets, excercise.name), include_blank: t('Select an excercise'), disabled: true %>
<% else %>
    <%= select_tag 'excercise_type', options_for_select(@excercise_presets, excercise.name), include_blank: t('Select an excercise') %>
<% end %>

<% unless excercise.duration_only? %>
    <%= select_tag 'excercise_repetitions', options_for_select(@repetitions, excercise.repetitions), include_blank: t('Repetitions') %>

    <span class="sixteen wide column">OR</span>
<% end %>

<%= select_tag 'excercise_duration', options_for_select(@durations.map { |secs| [ t(humanize_time(secs)), secs ] }, excercise.duration), include_blank: t('Duration') %>

<br>