#quote {
    line-height: 24pt;
    font-size: 22pt;
}

.footer-columns .glyphicon {
    font-size: 2.5em;
}

.welcome-aboard-btn {
    padding: 20px;
}

.registration-form label {
    color: black;
    font-size: 10pt;
}